<div data-ng-controller="KMeansMenuController as kmc">

	<div data-ng-include="TEMPLATES['graph']"></div>

	<div>
		<div class="col-lg-4" data-ng-include="TEMPLATES['dataSelection']"></div>
		<button class="col-lg-5 btn btn-default" data-ng-click="kmc.requestAndInitGraphDataByKMeans()">Get clusters</button>
	</div>

	<div style="height: 4em;"></div>

	<div class="col-lg-3">
		<div class="input-group input-group-sm">
			<span class="input-group-addon" id="sizing-addon3">k</span>
			<input data-ng-model="k" class="form-control">
		</div>
	</div>

	<div class="col-lg-3">
		<div class="input-group input-group-sm">
			<span class="input-group-addon" id="sizing-addon3">maximum iterations</span>
			<input data-ng-model="maxIterations" class="form-control">
		</div>
	</div>

</div>