<div data-ng-include="'modules/graph/graph.tmpl.html'"></div>

<div data-ng-controller="KMeansMenuController as kmc">
	<div class="col-lg-2">
		<div class="input-group input-group-sm">
			<span class="input-group-addon" id="sizing-addon3">k</span>
			<input data-ng-model="k" class="form-control">
		</div>
	</div>

	<div class="col-lg-3">
		<div class="input-group input-group-sm">
			<span class="input-group-addon" id="sizing-addon3">maximum iterations</span>
			<input data-ng-model="maxIterations" class="form-control">
		</div>
	</div>

	<button class="btn btn-default" data-ng-click="kmc.requestAndInitGraphDataByKMeans()">Get clusters</button>
</div>